@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  height: 100%;
}

.everything {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  font-weight: 600;
}

.day-line {
  color: #990000;
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 400px;
}

.normal-line {
  color: #333;
  background-color: #f0f0f0;
  list-style-type: disc;
  padding: 5px;
  padding: 10px;
  box-shadow: 5px 5px 5px rgb(177, 177, 177);
  width: 400px;
}

.days {
  display: flex;
  width: 100%;
  flex-direction: row;
}
