@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  height: 100%;
}

.everything {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.day-line {
  color: #990000;
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 400px;
}

.normal-line {
  color: #333;
  background-color: #f0f0f0;
  list-style-type: disc;
  padding: 5px;
  padding: 10px;
  box-shadow: 5px 5px 5px rgb(177, 177, 177);
  width: 400px;
}

.days {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.loading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #990000;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-top: 70px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
