@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


body {
    font-family: 'Inter', sans-serif !important;
    height: 100%;
    width: 100%;
}
.image{
    width: 300px;
    height: 300px;
}

.listingsTitle{
    font-weight: bold;
    text-align: center;
    padding-top: 50px;

}

.logo{

}
.name{
    font-weight: bold;
    text-wrap: wrap;
    overflow: hidden;
}

.mybutton{
    background-color: red !important;
    align-self: flex-end;
    justify-self: flex-end;
    border-radius: 100px !important;
    border: none !important;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container {
    display: flex;
    padding: 100px;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    scale: 100%;
    padding-top: 25px;
}

.item {
    width: 400px;
    margin: 10px auto;
    background-color: #f0f0f0;
    border: 1px solid black;
    box-shadow: 5px 5px 5px gray;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}