
.headerContainer {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px;
}

.headerButton {
    background-color: white !important;
    width: 60px;
    height: 60px;
    border-radius: 100px !important;
    border: none !important;
}

.headerButton:hover {
    background-color: rgb(240, 240, 240) !important;
    /* border: 2px solid rgb(0, 0, 0) !important; */
}
